#git
.git

#idea
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# build
build/
*.log

# OS related
.DS_Store
Thumbs.db

# tmp file
*.tmp
*.temp
*.bak

# test report
*.xml

# doc
*.md
!README.md

# other
*.orig 